<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="" class="h2"><b>Nature Technology</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">ログインしましょう！</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class:"form-control", placeholder:"メールアドレス" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          
          <%= f.password_field :password, autocomplete: "new-password", required: true, class:"form-control", placeholder:"パスワード" %>
          
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
            </div>
          </div>
          <!-- /.col -->
          <div>
            <%= f.submit t('.sign_in'), class:"btn btn-primary btn-block" %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>

      <%# <div class="social-auth-links text-center">
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div> %>
      <br>
      <div>
        <%= render "users/shared/links" %>
      </div>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
