<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'admins', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admins', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/flash" %>
    <% content_for :content do %>
      <%= yield %>
    <% end %>
    <%= render template: "layouts/application" %>
  </body>
</html>
