<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="" class="h2"><b>Nature Technology</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">アカウント登録を行いましょう！</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <%= f.text_field :name, class:"form-control", placeholder:"名前（フルネーム）", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"メールアドレス", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"パスワード", required: true %>
          
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"パスワード確認用", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary" onclick="controlSubmit()">
              <input type="checkbox" id="agreeTerms" name="terms" required>
              <label for="agreeTerms">
                <%= link_to "利用規約", use_path %>に同意する
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div>
            <%= f.submit t('.sign_up'), class:"btn btn-primary btn-block", disabled: true, id:"sign_up_submit" %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>

      <%# <div class="social-auth-links text-center">
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div> %>
      <br>
      <div>
        <%= render "users/shared/links" %>
      </div>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
